/* место для вашего кода */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 92px 50px 92px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.header__address {
    justify-self: end;
    font-style: normal;
    line-height: 1.35;
}

.address {
    font-style: normal;
    line-height: 1.35;
    font-size: 18px;
}

.address a {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

/* Обложка */
.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 757px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    height: 757px;
}

.cover__title {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 165px 0 0 50px;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    align-self: center;
    margin-left: 60px;
}

.aligned-text_right {
    align-self: flex-end;
    margin-right: 20px;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 135px 50px 0;
    padding-bottom: 50px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 20px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

/* Секция с лотами */
.lots {
    margin: 180px 50px 0;
}

.lots__heading {
    margin: 0 0 27px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1 0 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}

/* Секция "Об аукционе" */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    margin: 180px 50px;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin: 100px 0 70px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.about__text p {
    margin: 0;
}

/* Подвал */
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 90px;
}

.footer .address {
    max-width: 240px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer__menu-link {
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}